<% layout('layout') -%>
<h1>About Me</h1>
<p>I am a certified dermatologist with extensive experience.</p>
<ul>
    <li>Medical degree from XYZ University</li>
    <li>Member of Dermatology Association</li>
</ul>
